<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">

  <md-card-title>Evento</md-card-title>

  <md-divider></md-divider>

  <md-list>
    <ng-template let-event let-last="last" ngFor [ngForOf]="events$ | async">
      <md-list-item>

        <img md-list-avatar [src]="event.images">
        <a md-button class="text-upper" [routerLink]="event.$key">{{event.title}}</a>
        <span flex></span>

        <span>

            <button md-icon-button [md-menu-trigger-for]="menu">
              <md-icon>more_vert</md-icon>
            </button>

            <md-menu x-position="before" #menu="mdMenu">

              <a routerLink="{{event.$key}}/edit" md-menu-item>
                <md-icon>edit</md-icon>
                Editar
              </a>

              <a routerLink="{{event.$key}}/pictures" md-menu-item>
                <md-icon>camera_alt</md-icon>
                Imagenes
              </a>

              <a (click)="delete(event)" md-menu-item>
                <md-icon>delete</md-icon>
                Eliminar
              </a>

            </md-menu>

        </span>

      </md-list-item>
      <md-divider *ngIf="!last" md-inset></md-divider>
    </ng-template>

  </md-list>

</md-card>
