<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>Administrar Imagenes</md-card-title>
  <md-divider></md-divider>

  <md-card-content>
    <h1>{{event?.title}}</h1>

    <div class="actions">

      <button md-raised-button color="primary" (click)="enableUploadMorePictures()" *ngIf="!enableUpload">
        <md-icon>add_circle</md-icon>
        subir mas fotos
      </button>

      <td-file-upload #fileMultipleUpload (upload)="uploadFiles($event)" accept=".jpg" defaultColor="accent" activeColor="warn" cancelColor="primary" multiple [disabled]="!enableUpload">
        <md-icon>file_upload</md-icon>
        <span>
          {{ fileMultipleUpload.files?.name || fileMultipleUpload.files?.length }} <span *ngIf="fileMultipleUpload.files?.length">files selected</span>
        </span>
        <ng-template td-file-input-label>
          <md-icon>attach_file</md-icon><span>Seleccionar Imagenes (solo .jpg)...</span>
        </ng-template>
      </td-file-upload>
      
    </div>

    <img [src]="event.images" *ngIf="event.images"/>

  </md-card-content>
  <md-divider></md-divider>

  <md-card-actions>
    <a md-raised-button routerLink="/events">
      <md-icon color="warn">cancel</md-icon>
      salir
    </a>
  </md-card-actions>

</md-card>