<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-title>Actualizar categoria</md-card-title>
  <md-divider></md-divider>

  <md-card-content>
    <event-form #eventFormComponent [initialValue]="event"></event-form>
  </md-card-content>
  <md-divider></md-divider>

  <md-card-actions>
    <button md-raised-button [disabled]="!eventFormComponent.form.valid" (click)="update(eventFormComponent.form)" color="primary">
      <md-icon>update</md-icon>
      Actualizar Evento
    </button>

    <button md-raised-button (click)="cancel()">
      <md-icon color="warn">cancel</md-icon>
      Cancelar
    </button>
  </md-card-actions>

</md-card>
